*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/aws.xml
/.idea/WORKSP~2.XML
/app/src/main/java/com/qianyue/wanandroidmvi/TestAttri.kt
